.heading {
  border: 2px var(---white-color) solid;
  border-radius: 0.5rem;
  height: 20%;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 'left center right';
  display: grid;
  justify-content: space-between;
  text-align: center;
  padding: 0.5rem;
  align-items: center;
}

.title {
  grid-area: center;
  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
  color: var(---white-color);
  cursor: default;
  padding-top: 1rem;
  width: 100%;
  gap: 1rem;
}
.headingButton {
  grid-area: right;
  justify-self: end;
}
