.heading {
  border: 2px var(---white-color) solid;
  border-radius: 0.5rrem;
  height: 20%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.title {
  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
  color: var(---white-color);
  padding-top: 70%;
  cursor: default;
  padding-top: 1rem;
  width: 100%;
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
