.record {
  font-size: 3rem;
  border-radius: 3rem;
  background-color: var(---green-border-color);
  color: white;
  height: 4rem;
  width: 4rem;
  border-color: white;
  border-width: 0.1rem;
  border-style: solid;
  cursor: pointer;
  transition-duration: 150ms;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

.recordNum {
  padding: 0.3rem;
  font-size: 0.9rem;
}
