.card {
  color: var(---white-color);
  border-radius: 0.5rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-height: 4em;
  max-height: 4em;
}

.heading {
  font-size: large;
  font-weight: 400;
  align-content: center;
  font-style: italic;
}
