.card {
  color: var(---white-color);
  border-radius: 0.5rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-height: 4em;
  max-height: 4em;
  gap: 0.1em;
  font-family: 'Times New Roman', Times, serif;
}

.heading {
  font-size: larger;
  font-weight: 400;
  align-content: center;
  font-family: sans-serif;
}
.desc {
  font-size: small;
}
