.leaderboardTable {
  display: flex;
  height: 85%;
  flex-direction: column;
  padding: 0.5em;
  gap: 2em;
}
.goldBorderColor {
  border-color: var(---gold-leaderboard-color);
}
.silverBorderColor {
  border-color: var(---silver-leaderboard-color);
}
.bornzeBorderColor {
  border-color: var(---bronze-leaderboard-color);
}
.dividerGold {
  height: 100%;
  width: 0.1em;
  background-color: var(---gold-leaderboard-color);
}
.dividerSilver {
  height: 100%;
  width: 0.1em;
  background-color: var(---silver-leaderboard-color);
}
.dividerBronze {
  height: 100%;
  width: 0.1em;
  background-color: var(---bronze-leaderboard-color);
}
