.leaderboard {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 100%;
}
.leaderboardTable {
  display: flex;
  height: 85%;
  flex-direction: column;
  padding: 0.5em;
  gap: 2em;
}
.leaderboard {
  color: var(---blue-color);
}
.button {
  align-self: center;
}
