:root {
  ---background-image:linear-gradient(147deg, #4d4855 0%, #000000 74%);
  ---bakcground-color:background-color: #4d4855;
  ---white-color: #f8fae5;
  ---button-color:#80FFFF;
  ---button-on-hover-color:#40FFFF;
  ---red-border-color:#d51a1a;
  ---green-border-color:#10ed2d;
  ---blue-color:#331fdf;
  ---blue-on-hover:#5f8cec;
  ---gold-leaderboard-color:#FFD700;
  ---silver-leaderboard-color:#C0C0C0;
  ---bronze-leaderboard-color: #cd7f32;
}
.container {
  background-color: var(---bakcground-color);
  background-image: var(---background-image);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.categories {
  height:80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 2em;
  gap: 2em;
  padding-bottom: 1em;
  overflow: hidden;
}