.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading {
  flex-grow: 1;
  font-size: larger;
  font-weight: 400;
  align-content: center;
  font-family: sans-serif;
}
