.category {
  border: 2px var(---white-color) solid;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 0.7em;
}
.toastTitle {
  color: var(---white-color);
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
  align-items: center;
}
.children {
  height: 90%;
}

.addicon {
  color: var(---green-border-color);
  cursor: pointer;
  font-size: 1.2em;
}
.title {
  color: var(---white-color);
}
