.card {
  color: var(---white-color);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 4em;
  max-height: 4em;
  gap: 0.1em;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding: 0.2em;
  padding-bottom: 0.3rem;
  text-align: center;
  padding: 0.2em;
}
