.cardHeader {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 'left title right';
}

.heading {
  white-space: nowrap;
  grid-area: title;
  text-align: center;
  font-size: larger;
  font-weight: 400;
  font-family: sans-serif;
}
.childrenContainer {
  grid-area: right;
  justify-self: end;
  display: flex;
  gap: 0.5rem;
}
