.criminals {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  height: 100%;
}
.criminalsContainer {
  height: 90%;
  flex-direction: column;
  overflow-y: scroll;
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  scrollbar-width: thin;
  scrollbar-color: var(---red-border-color) var(---white-color);
}
.criminalsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5em;
  padding: 0.5em;
  scrollbar-width: thin;
  scrollbar-color: var(---red-border-color) var(---white-color);
  overflow-y: scroll;
}
.divider {
  width: 100%;
  height: 0.1em;
  background-color: var(---white-color);
}
