.leaderboardOne {
  display: flex;
  flex-direction: row;
  height: 30%;
  border: 2px solid;
  gap: 2.5rem;
  border-radius: 0.5rem;
  align-items: center;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}
