.leaderboardOne {
  display: flex;
  flex-direction: row;
  height: 30%;
  border: 2px solid;
  border-radius: 0.5rem;
  align-items: center;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.leaderboardUser {
  color: var(---white-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name {
  font-size: x-large;
  font: bold;
}
.avatar {
  padding-right: 2em;
}
