.leaderboardOne {
  display: flex;
  flex-direction: row;
  height: 30%;
  border: 2px solid;
  border-color: var(---white-color);
  gap: 2.5em;
  border-radius: 0.5rem;
  align-items: center;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dividerGold {
  height: 100%;
  width: 0.1em;
  background-color: var(---gold-leaderboard-color);
}
.dividerSilver {
  height: 100%;
  width: 0.1em;
  background-color: var(---silver-leaderboard-color);
}
.dividerBronze {
  height: 100%;
  width: 0.1em;
  background-color: var(---bronze-leaderboard-color);
}
.goldBorderColor {
  border-color: var(---gold-leaderboard-color);
}
.silverBorderColor {
  border-color: var(---silver-leaderboard-color);
}
.bornzeBorderColor {
  border-color: var(---bronze-leaderboard-color);
}
