.editButton {
  color: var(---green-border-color);
  cursor: pointer;
}
.editButton:hover {
  transform: scale(1.4);
  transition: transform 0.2s ease-in-out;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
}
